<div>
    <h2>Inicio de sesión</h2>

    <form action="/auth/login" method="post">
        <label for="username">Nombre de usuario:</label>
        <input type="text" name="username">
        <br>
        <label for="password">Contraseña:</label>
        <input type="password" name="password">
        {{#if this.errorMessage}}
        <p>{{this.errorMessage}}</p>
        {{/if}}

        <br>
        <button>Iniciar sesión</button>
    </form>
    
</div>